---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro';
import Md from './posts/main-post.md'

interface MarkdownFrontmatter {
pubDate: string | number | Date;
  date: number;
}

const title = 'นีย์ แม่แมท ภีรนีย์ โพสต์ถึงลูกสาว หลังรับจับมือ ไฮโซพก จนคนแห่ให้กำลังใจแม่...แม่อั้ม !';
const description = 'กำลังเป็นข่าวเมาท์มาแรง กับกรณีความสัมพันธ์ ไฮโซพก - อั้ม พัชราภา และแมท ภีรนีย์ ที่ล่าสุด 5 มกราคม 2566 ทางแมทก็ได้ออกมายอมรับว่า มีการจับมือไฮโซพกในงานปีใหม่จริง แต่เป็นการจับมือแบบไม่เกินเลย ไม่มีชู้สาว และได้มีการขอเคลียร์ใจกับ อั้ม พัชราภา พร้อมขอโอกาสปรับปรุงตัว';
const seoDescription = 'Creek is a theme for Astro static site generator';
const allPosts = await Astro.glob<MarkdownFrontmatter>('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<html lang="en">

<head>
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={title} description={description} />
      <Md/>
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
        {sortedPosts.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>

  <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
    <a href="/posts" class="mr-8" data-test="see-all-link">
      See All<span class="squiggle">&rarr;</span>
    </a>
  </section>

  <Footer/>
</body>

</html>